* {
  border: solid black;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#score-board {
  height: 20vh;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 300px;
}

#score-board div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 300px;
  width: 300px;
  border: solid black;
}

#game-board div {
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.player2,
.player1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player2 {
  grid-area: 1 / 2 / 2 / 3;
}

.name1 {
  grid-area: 2 / 1/ 3/2;
}

.name2 {
  grid-area: 2/2/ 3/3;
}
